body{
   max-width: 960px;
   margin: auto;
}


h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #2F281E;

}

h4{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
}

h5{
    font-family: font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #2F281E;
}

header{
    width: 1126px;
    height: 496px;
    margin-top: 30px;
    margin-bottom: 110px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.header-navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar{
    width: 350px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;   
}

.buttons-nav{
    width: 226px;
    display: flex;
    justify-content: space-evenly;
}

.btn-sign-in {
    width: 102px;
    height: 46px;
    font-family: 'Poppins', sans-serif;
    font-size: 16;
    font-weight: 600;
    background-color: #FFFF;
    border-color: #BCD0E5;
    color: #173A56;
}

.btn-sign-up {
    width: 102px;
    height: 46px;
    font-family: 'Poppins', sans-serif;
    font-size: 16;
    font-weight: 600;
    background-color: #FF9900;
    color: white;
    border: none;
}
.headline-header{ 
    width: 518px;
    height: auto;
    font-family: 'Poppins', sans-serif;
    font-size: 44px;
    font-weight: bold;
    font-style: normal;
    color: #2F281E;
}
.text-header{
 width: 458px;
 height: 95px;
 font-family: 'Poppins', sans-serif;
 font-weight: 400;
 font-style: normal;
 font-size: 18px;
 line-height: 28px;
 color: #544837;
}

.btn-get-started{
    width: 175px;
    height: 75px;
    background-color: #FF9900;
    color: #FFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    border: none
}
.btn-watch-the-video{
    width: 161px;
    height: 63px;
    background-color: #FFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FF9900;
    border: none;
    text-decoration: underline;

}
.feature-headline{
    text-align: center;

}
.container-cards{
    width: 1095px;
    height: 204px;
    display: flex;
    justify-content: space-between;
}

.card-1{
    height: 240px;
    height: 178px;
}

.card-2{
    height: 240px;
    height: 178px;
}

.card-3{
    height: 240px;
    height: 178px;
}

.card-4{
    height: 240px;
    height: 178px;
}
.card-text{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;  
    color: #544837; 
}

.btn-sign-up-now {
    width: 175px;
    height: 75px;
    background-color: #FF9900;
    color: #FFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    display: block
}

.section-1{
    width: 1110px;
    height: 574px;
    margin-top: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;    
}
.section-1-text-container{
    width: 486px;
    height: 531px;
}
.section-1-text{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
}
.section-2{
    width: 1121px;
    height: 521px;
    margin-top: 104px;
    margin-bottom: 104px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;  

}
.section-2-text-container{
    width: 486px;
    height: 531px;
}
.section-2-text{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;

}
.section-3{
    width: 1110px;
    height: 609px;
    margin-bottom: 145px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap; 
}
.section-3-text-container{
    width: 486px;
    height: 531px;
}

.section-3-text{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
}
.footer-info{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    color: #544837;
}
.btn-blank{
    width: 325px;
    height: 38px;
}
.btn-sign-up-now-2{
    width: 131px;
    height: 39px;
    background-color: #FF9900;
    color: #FFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-style: 16px;
    line-height: 23px;
}
.footer-info-container{
    width: 785px;
    height: 145px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
}